body {
  margin: 0px;
  padding: 0px;
  background-color: #2f2e41;
  font-family: "Kantumruy Pro", sans-serif;
}

.hero-img {
  height: 600px;
}

/* .description {
  margin-top: 54px;
} */

/* .screenshot{
  margin-top: 32px;
} */
